
/* Global Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-s {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  background-color: rgb(245, 248, 255);
}

/* Shared Style */

img {
  width: 100%;
  max-width: 100%;
  display: block;
  height: auto;
}

.primary-font {
  font-family: "Inter", sans-serif;

}


.secondary-font {
  font-family: "Noto Serif", serif;

}

:root {
  --primary-color: rgb(233, 90, 8);
  --secondary-color: rgba(0, 0, 0, 0.5);

}

/* NavBar Design */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.nav-menu {
  display: flex;
  gap: 3rem;
}

.link-1 {
  font-weight: 700;
  color: black;
  text-decoration: none;
}
.link-4 {
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.link-2, .link-3 {
  text-decoration: none;
  color: var(--secondary-color);
}

/* NavBar End */

/* Hero Section */

.hero {
  display: flex;
  margin-top: 9rem;
}

.hero-content {
flex: 1;
display: flex;
flex-direction: column;
gap: 1rem;
justify-content: center;
align-items: center;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: 700;
}
.hero-content h1 span {
 color: var(--primary-color);
}

.hero-content p {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.hero-img {
  flex: 1;
}

/* Our Plants Section  */

.our-plants {
  margin-top: 8rem;
  
}

.product-showcase {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 1rem;
}

.plant-section-heading {
  text-align: center;
  /* optional */
  width: 70%;
  margin: 0 auto 3rem auto;
}

.plant-section-heading h3 {
  font-size: 3rem;
}
.plant-section-heading h3 span {
  color: var(--primary-color);
}

.plant-section-heading p {
  color: var(--secondary-color);
  font-size: 1rem;
  margin: 1rem auto;
}


/* Plant Showcase Section */

.plant {

  flex: 1;
  text-align: center;
}

.plant img {
  width: 100%;
  height: auto;
  display: block;
}

.plant-des {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.plant-name ,.plant-price {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
}

.atc-btn {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem ;
  padding: 0.75rem 1rem;
}





/* Mobile Responsive */

@media (max-width:768px) {
  main {
    padding: 1rem;
  }

.nav-bar {
  padding: 1rem;
  margin-top: 2rem;
}

 .link-1, .link-2, .link-3 {
  display: none;
}

.link-4 {
  font-size: 1rem;
}

/* Hero */
  .hero {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .hero-content {
    padding: 1rem;
    align-items: flex-start;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .product-showcase {
    grid-template-columns: repeat(2, 1fr)
  }


}